@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

@media screen and (max-width: 1439px){
  body{
    background-image: url("./img/pattern-background-mobile.svg");
  }
}

@media screen and (min-width: 1440px){
  body{
    background-image: url("./img/pattern-background-desktop.svg");
  }
}

body{
  background-repeat: no-repeat;
  background-size: contain;
  background-color: hsl(225, 100%, 94%);

  font-family: 'Red Hat Display', sans-serif;
}

h2{
  margin-top: 40px;
  font-weight: 900;
  font-size: 32px;
}

p{
  font-size: 16px;
  font-weight: 500;
  color: gray;

  padding: 10px 10%;
  margin-bottom: 20px;
}

button{
  border: none;
  margin: 10 0;
  padding: 20px 20%;
  border-radius: 10px;
  font-weight: 700;
  font-size: 16px;
}

button:hover{
  cursor: pointer;
}

.bold-text{
  font-weight: 700;
}

.muted-text{
  color: gray;
}

.card{
  background-color: white;
  margin: 10vh auto;
  padding-bottom: 20px;
  min-width: 250px;
  max-width: 450px;

  border-radius: 20px;
  text-align: center;

  box-shadow: 10px 10px 15px rgba(0, 0, 0, 10%);
}

.card-img{
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 100%;
}

.content{
  width: 80%;
  margin-left: 10%;
}

.plan{
  background-color: #f9f9f9;
  margin-bottom: 20px;
  padding: 20px 0;
  border-radius: 10px;
  max-width: 100%;

  display: flex;
  justify-content: space-between;
}

.plan-icon{
  padding-left: 5%;
  padding-right: 5%;
  flex-grow: 1;
}

.plan-text{
  padding-right: 10px;
  flex-grow: 4;
  text-align: left;
}

.plan-link{
  font-weight: 700;
  font-size: 14px;

  flex-grow: 2;
  padding-top: 4%;
}

.primary-button{
  background-color: hsl(245, 75%, 52%);
  color: white;

  box-shadow: 0px 20px 15px rgba(0, 0, 0, 20%);
}

.secondary-button{
  background-color: transparent;
}